
/* Limpar as formatações padrão.
De um browser para outro tem valores diferentes de formatação.
Recomendado limpar as configurações
 */

* {
  margin-top: 0;
  padding: 0;

}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f3f3f3;	
}



#navegacao {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area  {
	width: 720px;
	margin: 0 auto;
}

#area-principal  {
	width: 720px;
	margin: 55px auto 10px auto;	
}

#logo{
	float: left;
}
#menu
{
	float: right;
	padding: 10px;
}

#postagem {
	background: #fff;
	padding: 10px;	
	margin-bottom: 10px;
}

/* Formatacao menu */

a{
  text-decoration: none;
  padding: 5px 10px;
}

/* Links não visitados*/
a:link{
  color: #838383;
}

/* Links visitados*/
a:visited{
  color: #838383;
}

/* Links Hover, passa o cursor sobre o link*/
a:hover{
  color: #FFF;
  background: #b9c941;
}
/* Links ativos - quando clicado*/
a:active{
  color: #535353;
}


/* Classes */

.verde {
	color: #b9c941;
}

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.img-postagem {
	float: left;
	margin: 0 10px 5px 0;
}

.postado {
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}